@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pulse animation {
    transform: scale(1.02159);
}

.svg-inline--fa {
  height: 1em;
  vertical-align: -0.125em;
}

/* Notification icon */
.notification-container {
    position: relative;
    border-radius: 50%;
    background-color: #e2e8f0;
}

.notification-bell.has-unread {
    animation: pulse 2s infinite;
}
.notification-bell {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-badge {
    position: absolute;
    top: -1px;
    right: 4px;
    background-color: var(--danger-color);
    color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
}